<!DOCTYPE html>
{% load staticfiles %}
{% load i18n %}
<html>
  <head>
    <meta charset="utf-8">
    <title>Freediving</title>
    {% block head %}
    {% endblock %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="{% url 'home' %}">Freediving</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link" href="#">Shops</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Events/Training</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Vereine</a></li>
          </ul>
          <ul class="navbar-nav ml-auto">
            <form action="{% url 'set_language' %}" method="post">
                {% csrf_token %}
                <input name="next" type="hidden" value="{{ redirect_to }}" />
                <select name="language">
                    {% get_current_language as LANGUAGE_CODE %}
                    {% get_available_languages as lang %}
                    <option value="{{ lang.0.0 }}" {% if lang.0.0 == LANGUAGE_CODE %} selected="selected"{% endif %}>
                        {{ lang.0.1 }}
                    </option>
                    <option value="{{ lang.1.0 }}" {% if lang.1.0 == LANGUAGE_CODE %} selected="selected"{% endif %}>
                        {{ lang.1.1 }}
                    </option>
                </select>
                <input type="submit" value="Go" />
            </form>
            {% if user.is_authenticated %}
                  <li><a href="{% url 'accounts:logout' %}" class="btn btn-simple">Log out</a></li>
            {% else %}
              <li class="nav-item"><a class="nav-link" href="{% url 'accounts:signup' %}">Sign up</a></li>
              <li class="nav-item"><a class="btn btn-simple" href="{% url 'accounts:login' %}">Login</a></li>
            {% endif %}
          </ul>
      </div>
    </nav>
    {% block body %}
    {% endblock %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  </body>
</html>
{% load staticfiles %}
